<footer class="container small">
  <hr class="hr" />
  <div
    style="display:flex; flex-wrap:wrap; gap:10px; justify-content:space-between;"
  >
    <span>© {new Date().getFullYear()} Visit Fresno Photography</span>
    <span>Fox • Fox • Fox • Fox</span>
  </div>
</footer>
